.custom-input{
    outline: none;
    border-width: 0;
    border-bottom-width: 1px;
    width: 100%;
    padding: .5rem 0;
    font-size: .8rem;
    opacity: .8;
    background-color: var(--white);     
}
.input-wrapper{
    margin-bottom: 1.5rem;
}
.label-input{
    text-transform: capitalize;
    margin-bottom: 0.5rem;
    font-size: .8rem;
}
.custom-input:focus{
    opacity: 1;
    transition: all .2s;
}
.custom-input::placeholder{
    color: grey;
}