.navbar{
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    z-index: 100;
    background-color: var(--black);
}
.links{
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    align-items: center;
}
.link{
    font-weight: 600;
    color: var(--grey);
}
.link:hover{
    color: var(--white);
    transition: all .3s;
}
.mobile-drawer{
    display: none;
}



@media only screen and (max-width:800px){
    .logo{
        font-size: 1.3rem;
    }
    .navbar{
        padding: 1rem;
    }
    .links{
        display: none;
    }
    .link{
        font-size: 1rem;
    }
    .mobile-drawer{
        display: block;
    }
    .drawer-div{
        width: 40vw;
        background-color: var(--black);
        height: 100vh;
        padding: 1.5rem;
    }
}